<strong>Ola, {{ user_event }}</strong>
<p>O {{user_name}} se inscrevel no seu evento</p>
<p>
  <strong>Titulo: </strong> {{title}} <br />
  <strong>Descricao: </strong> {{descricao}} <br />
  <strong>Localizacao: </strong> {{localizacao}} <br />
  <strong>Data: </strong> {{data}} <br />
</p>
